
*{
  margin: 0;
  padding: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui
}
.crud{
    width:80%;
    margin: auto;
}
.head{
    text-align:center;
    text-transform:uppercase ;
  margin: 10px 0;
}
input{
    width:100%;
    height:30px;
    border:none;
    outline:none;
    background-color:#111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color:#fff
}

input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total {
    background-color: #a00d02;
    padding: 4px 2px;
    border-radius: 4px;
}
#total::before{
    content: "total";
}
button{
  width:100%;
  height:30px;
  border:none;
  cursor:pointer;
  background-color:rgb(98, 8, 187);
  color: #fff;
  border-radius: 4px;
  transition:.5s ;

}
button:hover{
    background-color:rgb(165, 89, 240);
    letter-spacing: 1px;
}
.btnSearch{
    display:flex;
    justify-content: space-between;
    justify-content: space-between;

}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deletAll{
    margin: 20px 0 ;
}